<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Experience</h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Below is a summary of my research, teaching, and work experience
                that spans academia and industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <div class="row">
            <div class="col-md-12">
              <!-- Current Positions -->
              <ul class="ul-dates">
                {{ current_jobs }}
              </ul>

              <!-- Past Positions -->
              <ul class="ul-dates-gray">
                {{ past_jobs }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
