<div id="main">
  <div id="biography" class="page home" data-pos="home">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <div class="row">
            <!--empty column of whitespace-->
            <div class="col-sm-2 visible-sm"></div>

            <!--photo/contact info-->
            <div class="col-sm-8 col-md-4">
              <div class="biothumb">
                <!--photo-->
                <figure>
                  <img
                    alt="{{ author }} - {{ subtitle }}"
                    src="{{ base_path }}/images/{{ author_photo }}"
                    class="img-responsive"
                  />
                </figure>
              </div>
            </div>

            <!--bio, education, and research interests-->
            <div class="col-sm-12 col-md-7">
              <h3 class="title">{{ author }}</h3>
              <p>{{ bio }}</p>
              {{ contact_info }}
            </div>
          </div>
        </div>
        <div class="section-container"></div>
      </div>
    </div>
    <div class="section color-1">
      <div class="section-container">
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <div class="title text-center">
              <h1>Education</h1>
            </div>
            {{ education }}
          </div>
          <div class="col-md-6">
            <div class="title text-center">
              <h1>Awards</h1>
            </div>
            <ul class="timeline">
              {{ awards }}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title text-center">
              <h1>Research Interests</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-1">{{ interests }}</div>
          <div class="col-md-4">
            <ul class="ul-boxed list-unstyled">
              <li>Hardware Security</li>
              <li>Cyber-Physical Systems</li>
              <li>Signal Injection Attacks/Defenses</li>
              <li>Embedded Systems</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title text-center">
              <h1>Latest News</h1>
            </div>
            <ul class="ul-dates">
              {{ news }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
