<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Research Interests</h2>
          <!--Research Interests-->
          <div class="row">
            <div class="col-md-7">{{ interests }}</div>
            <div class="col-md-5">{{ interests_list }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <!--Research Projects Card Grid-->
          <div class="row project-cards">
            <!--Walnut-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive"
                    alt="WALNUT"
                    src="{{ base_path }}/images/accel-spkr.jpg"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title" data-mh="project-desc">
                    Spoofing MEMS Accelerometers with Sound
                  </h5>
                  <a
                    href="https://ieeexplore.ieee.org/document/7961948"
                    class="tooltips"
                    title="Paper"
                    target="_blank"
                  >
                    <i class="fa fa-file-pdf"></i>
                  </a>
                  <a
                    href="{{ base_path }}/pubs/walnut/walnut.pptx"
                    class="tooltips"
                    title="Slides"
                    target="_blank"
                  >
                    <i class="fa fa-file-powerpoint"></i>
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=Dfc3jZkcnLU"
                    class="tooltips"
                    title="Summary Video"
                    target="_blank"
                  >
                    <i class="fa fa-file-video-o"></i>
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=C8aZ5nBmKH0"
                    class="tooltips"
                    title="Phone Demo Video"
                    target="_blank"
                  >
                    <i class="fa fa-file-video-o"></i>
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=aedOf3cZnEI"
                    class="tooltips"
                    title="Fitbit Demo Video"
                    target="_blank"
                  >
                    <i class="fa fa-file-video-o"></i>
                  </a>
                  <a
                    href="https://spqr.eecs.umich.edu/walnut/"
                    class="tooltips"
                    title="Project Website"
                    target="_blank"
                  >
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--ICAS-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive"
                    alt="ICAS"
                    src="{{ base_path }}/images/icas-logo.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title" data-mh="project-desc">
                    Integrated Circuit Attack Surface (ICAS): Quantifying IC
                    Layout Security
                  </h5>
                  <a
                    href="https://ieeexplore.ieee.org/abstract/document/9152692"
                    class="tooltips"
                    title="Paper"
                    target="_blank"
                  >
                    <i class="fa fa-file-pdf"></i>
                  </a>
                  <a
                    href="{{ base_path }}/pubs/icas/icas.pptx"
                    class="tooltips"
                    title="Slides"
                    target="_blank"
                  >
                    <i class="fa fa-file-powerpoint"></i>
                  </a>
                  <a
                    href="https://youtu.be/nDkFu9R3TAQ"
                    class="tooltips"
                    title="Summary Video"
                    target="_blank"
                  >
                    <i class="fa fa-file-video-o"></i>
                  </a>
                  <a
                    href="https://www.youtube.com/watch?v=cBME5aUhPeY"
                    class="tooltips"
                    title="Conference Presentation"
                    target="_blank"
                  >
                    <i class="fa fa-file-video-o"></i>
                  </a>
                  <a
                    href="https://github.com/mit-ll/nemo"
                    class="tooltips"
                    title="Nemo Repository"
                    target="_blank"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                  <a
                    href="https://github.com/mit-ll/gds2-score"
                    class="tooltips"
                    title="GDS2-Score Repository"
                    target="_blank"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive"
                    alt="T-TER"
                    src="{{ base_path }}/images/t-ter-example.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title" data-mh="project-desc">
                    Targeted Tamper Evident Routing (T-TER) for Untrusted ICs
                  </h5>
                  <a href="#" class="card-link">Paper</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
