<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Research</h2>
          <!--Research Interests-->
          <div class="row">
            <div class="col-md-7">{{ interests }}</div>
            <div class="col-md-5">{{ interests_list }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <!--Research Projects Card Grid-->
          <div class="row match-my-cols">{{ projects }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
