<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Research Interests</h2>
          <!--Research Interests-->
          <div class="row">
            <div class="col-md-7">{{ interests }}</div>
            <div class="col-md-5">{{ interests_list }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <!--Research Projects Card Grid-->
          <div class="row project-cards">
            <!--1st Row-->
            <!--Hardware Fuzzing-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="Hardware Fuzzing"
                    src="{{ base_path }}/images/hw-fuzzing-diagram.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Fuzzing Hardware Like Software
                  </h5>
                  {{ hw-fuzzing-links }}
                </div>
              </div>
            </div>

            <!--Bomberman-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="Bomberman"
                    src="{{ base_path }}/images/bomberman-logo.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Bomberman: Vetting Untrusted RTL Hardware for Ticking
                    Timebomb Trojans
                  </h5>
                  {{ bomberman-links }}
                </div>
              </div>
            </div>

            <!--IC Portholes-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="IC Portholes"
                    src="{{ base_path }}/images/ic-portholes-logo.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Integrated Circuit Portholes for Post-Fabrication Imaging of
                    Untrusted ICs
                  </h5>
                  {{ ic-portholes-links }}
                </div>
              </div>
            </div>
          </div>
          <br />

          <!--2nd Row-->
          <div class="row project-cards">
            <!--Walnut-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="WALNUT"
                    src="{{ base_path }}/images/accel-spkr.jpg"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Spoofing MEMS Accelerometers with Sound
                  </h5>
                  {{ walnut-links }}
                  <a
                    href="https://patents.google.com/patent/WO2017201409A1"
                    class="tooltips"
                    title="External link"
                    target="_blank"
                  >
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--ICAS-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="ICAS"
                    src="{{ base_path }}/images/icas-logo.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Integrated Circuit Attack Surface (ICAS): Quantifying IC
                    Layout Security
                  </h5>
                  {{ icas-links }}
                </div>
              </div>
            </div>

            <!--T-TER (Defensive Routing)-->
            <div class="col-sm-6 col-md-4">
              <div class="card" data-mh="project-card">
                <div data-mh="project-img">
                  <img
                    class="card-img-top img-responsive center-block"
                    alt="T-TER"
                    src="{{ base_path }}/images/t-ter-example.png"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center" data-mh="project-desc">
                    Targeted Tamper Evident Routing (T-TER) for Untrusted ICs
                  </h5>
                  {{ t-ter-links }}
                  <a
                    href="https://patents.google.com/patent/US20200151368A1/"
                    class="tooltips"
                    title="External link"
                    target="_blank"
                  >
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
