<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Work Experience</h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Below is a summary of my research, teaching, and work experience
                that spans academia and industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- Current Positions -->
              <ul class="ul-dates">
                <li>
                  <div class="dates">
                    <span>Present</span>
                    <span>Sept. 2015</span>
                  </div>
                  <div class="content">
                    <h4>
                      Graduate Research Assistant at the
                      <strong>University of Michigan</strong> &#8213; Ann Arbor,
                      MI
                    </h4>
                    <h5>
                      <a
                        href="https://kabru.eecs.umich.edu"
                        class="tooltips"
                        target="_blank"
                      >
                        Real-Time Computing Laboratory</a
                      >
                    </h5>

                    <p>
                      I take a red-team/blue-team approach to explore how
                      autonomous cyber-physical systems can be attacked and
                      defended through the foundational hardware they rely on.
                      Specifically I research signal injection attacks on
                      cyber-physical systems, and hardware Trojan
                      attacks/defenses throughout the hardware design process.
                    </p>
                  </div>
                </li>
              </ul>

              <!-- Past Positions -->
              <ul class="ul-dates-gray">
                {{ content }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
