<div id="main">
  <div id="teaching" class="page">
    <div class="pageheader">
      <div class="headercontent">
        <div class="section-container">
          <h2 class="title">Experience</h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Below is a summary of my research, teaching, and work experience
                that spans academia and industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagecontents">
      <div class="section color-1">
        <div class="section-container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- Current Positions -->
              <ul class="ul-dates">
                <li>
                  <div class="dates">
                    <span>Present</span>
                    <span>{{ start_month }} {{ start_year }}</span>
                  </div>
                  <div class="content">
                    <h4>
                      {{ position }} &#151; <strong>{{ institution }}</strong>
                      &#151; {{ location_city }}, {{ location_state }}
                    </h4>
                    {{ description }}
                  </div>
                </li>
              </ul>

              <!-- Past Positions -->
              <ul class="ul-dates-gray">
                {{ content }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
