<!DOCTYPE html>
<html lang="{{ language }}" style="" class="js no-touch csstransitions">
  <head>
    <title>{{ author }} - {{ subtitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ author }}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content=" {{ description }} " />

    <!--CSS styles-->
    <link rel="stylesheet" href="{{ base_path }}/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="{{ base_path }}/css/perfect-scrollbar-0.4.5.min.css"
    />
    <link rel="stylesheet" href="{{ base_path }}/css/magnific-popup.css" />
    <link rel="stylesheet" href="{{ base_path }}/css/style.css" />
    <link
      id="theme-style"
      rel="stylesheet"
      href="{{ base_path }}/css/default.css"
    />

    <!--Javascript files-->
    <!-- <script async="" src="./scripts/analytics.js"></script> -->
    <script src="https://kit.fontawesome.com/948a5e0f40.js"></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery-1.11.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/TweenMax.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery.touchSwipe.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery.carouFredSel-6.2.1-packed.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/modernizr.custom.63321.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery.dropdownit.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/ScrollToPlugin.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery.mixitup.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/masonry.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/perfect-scrollbar-0.4.5.with-mousewheel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/jquery.nicescroll.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/magnific-popup.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ base_path }}/scripts/custom.js"
    ></script>

    <!-- TODO: Google Analytics -->
  </head>
  <body>
    {{ navbar }} {{ content }}
  </body>
</html>
