<div id="wrapper">
  <a href="#sidebar" class="mobilemenu"><i class="fa fa-reorder"></i></a>
  <div id="sidebar">
    <div id="sidebar-wrapper">
      <div id="sidebar-inner">
        <!-- Profile/logo section-->
        <div id="profile" class="clearfix">
          <div class="portrate hidden-xs">
            <a href="https://timothytrippel.com">
              <img
                src="{{ base_path }}/images/timothytrippel_square.jpg"
                alt="Timothy Trippel"
              />
            </a>
          </div>
          <div class="title">
            <h2>{{ author }}</h2>
            <h3>Ph.D. {{ phd_student_status }}</h3>
            <h3>{{ laboratory_name }}</h3>
            <h3>{{ university_department }}</h3>
            <h3>{{ university }}</h3>
          </div>
        </div>
        <!-- /Profile/logo section-->

        <!-- Main navigation-->
        <div id="main-nav" style="padding-bottom: 33px">
          <ul id="navigation">
            <li class="{{ menu_item_index_class }}">
              <a href="{{ base_path }}/index.html">
                <i class="fa fa-user"></i>
                <div class="text">About Me</div>
              </a>
            </li>

            <li class="{{ menu_item_publications_class }}">
              <a href="{{ base_path }}/publications.html">
                <i class="fa fa-edit"></i>
                <div class="text">Publications</div>
              </a>
            </li>

            <li class="{{ menu_item_experience_class }}">
              <a href="{{ base_path }}/experience.html">
                <i class="fa fa-clock-o"></i>
                <div class="text">Experience</div>
              </a>
            </li>

            <li class="external">
              <a href="{{ base_path }}/docs/{{ cv_file_name }}">
                <i class="fa fa-download"></i>
                <div class="text">Download CV</div>
              </a>
            </li>
          </ul>
        </div>
        <!-- /Main navigation-->
        <!-- Sidebar footer -->
        <div id="sidebar-footer">
          <div class="social-icons">
            <ul>
              <li>
                <a href="https://twitter.com/{{ twitter_username }}">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/{{ github_username }}">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/{{ linkedin_user_id }}">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://scholar.google.com/citations?user={{ google_scholar_user_id }}"
                >
                  <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
          <div id="copyright">&#169; {{ current_year }} Timothy Trippel</div>
        </div>
        <!-- /Sidebar footer -->
      </div>
    </div>
  </div>
</div>
