<!DOCTYPE html>
<html lang="{{ language }}" style="" class="js no-touch csstransitions">
  <head>
    <title>{{ author }} - {{ subtitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ author }}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content=" {{ description }} " />

    <!--CSS styles-->
    <link
      rel="stylesheet"
      href="{{ site_url }}/third_party/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="{{ site_url }}/third_party/css/perfect-scrollbar-0.4.5.min.css"
    />
    <link rel="stylesheet" href="{{ site_url }}/css/style.css" />
    <link
      id="theme-style"
      rel="stylesheet"
      href="{{ site_url }}/css/default.css"
    />

    <!--JavaScript scripts-->
    <script src="https://kit.fontawesome.com/948a5e0f40.js"></script>
  </head>
  <body>
    {{ nav }} {{ content }}
  </body>
  <!--JavaScript scripts-->
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/jquery-1.11.3.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/TweenMax.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/jquery.touchSwipe.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/modernizr.custom.63321.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/jquery.dropdownit.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/bootstrap.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/jquery.mixitup.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/perfect-scrollbar-0.4.5.with-mousewheel.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/third_party/scripts/jquery.nicescroll.min.js"
  ></script>
  <script
    type="text/javascript"
    src="{{ site_url }}/scripts/custom.js"
  ></script>
</html>
